@page "/"
@inject HttpClient Http 

<h1>Hello, world!</h1>

Welcome to your new app.

@if (_forecast == null)
{
    <span>Wait...</span>
}
else
{
    <span>@_forecast</span>
}

@code
{
    private string _forecast { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _forecast = await Http.GetStringAsync("WeatherForecast");
    }
}
