@page "/spaceships"
@inject HttpClient Http

<h3>Spaceships Table</h3>

<style>
    thead, tbody, tr, th, td, input {
        padding: 0;
        margin: 0;
    }
</style>

@if (Spaceships == null)
{
    <span>Loading data...</span>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Capacity</th>
                <th>Energy</th>
                <th>Firepower</th>
                <th>Fuel</th>
                <th>Hull</th>
                <th>Speed</th>
                <th>Staff</th>
                <th>Weight</th>
                <th>Fleet</th>
                <th>Shipyard</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ship in Spaceships)
            {
                var s = ship;
                <tr @onfocusout="@(() => SubmitChanges(s))">
                    <td><input type="text" @bind="s.Name" /></td>
                    <td><input type="number" @bind="s.Capacity" /></td>
                    <td><input type="number" @bind="s.Energy" /></td>
                    <td><input type="number" @bind="s.Firepower" /></td>
                    <td><input type="number" @bind="s.Fuel" /></td>
                    <td><input type="number" @bind="s.Hull" /></td>
                    <td><input type="number" @bind="s.Speed" /></td>
                    <td><input type="number" @bind="s.Staff" /></td>
                    <td><input type="number" @bind="s.Weight" /></td>
                    <td>Fleet: @s.FleetId</td>
                    <td>Shipyard: @s.ShipyardId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Spaceship> Spaceships { get; set; }

    private Spaceship Selected { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetJsonAsync<IEnumerable<Spaceship>>("api/Spaceships");
        Spaceships = result.OrderBy(s => s.Id).ToList();
    }

    private async Task SubmitChanges(Spaceship ship)
    {
        if (ship.Id == 0)
        {
            Selected = await Http.PostJsonAsync<Spaceship>("api/spaceships", ship);
        }
        else
        {
            await Http.PutJsonAsync($"api/spaceships/{ship.Id}", ship);
        }
    }
}
