<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Table Editor</a>
</div>

<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span>Home
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/spaceships">
            <span class="oi oi-arrow-top" aria-hidden="true"></span>Spaceships
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/fleets">
            <span class="oi oi-list" aria-hidden="true"></span>Fleets
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/alliances">
            <span class="oi oi-chat" aria-hidden="true"></span>Alliances
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/empires">
            <span class="oi oi-command" aria-hidden="true"></span>Empires
        </NavLink>
    </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/alliancesentries">
                <span class="oi oi-calendar" aria-hidden="true"></span>Alliances Entries
            </NavLink>
        </li>
</ul>
