@using System.Linq.Expressions

<div class="divTableCell" @attributes="@AdditionalAttributes">
    <InputNumber Value="@Value" ValueChanged="@ValueChanged" ValueExpression="ValueExpression" />
    <ValidationMessage For="@ValueExpression" />
</div>

@code {
    [CascadingParameter] public EditContext EditContext { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> AdditionalAttributes { get; set; }

    [Parameter] public int Value { get; set; }

    [Parameter] public EventCallback<int> ValueChanged { get; set; }

    [Parameter] public Expression<Func<int>> ValueExpression { get; set; }
}
