@inherits ComponentBase
@using System.Threading.Tasks

<div @attributes="@AdditionalAttributes">
    <CascadingValue Value="@EditContext" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

    [Parameter] public EditContext EditContext { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        if (EditContext == null)
        {
            throw new InvalidOperationException($"{nameof(EditForm)} requires an {nameof(EditContext)} parameter.");
        }
    }
}
