@model DbTableEditor.Data.Model.AlliancesEntry

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AlliancesEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AllianceId" class="control-label"></label>
                <select asp-for="AllianceId" class="form-control" asp-items="ViewBag.AllianceId"></select>
                <span asp-validation-for="AllianceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpireId" class="control-label"></label>
                <select asp-for="EmpireId" class="form-control" asp-items="ViewBag.EmpireId"></select>
                <span asp-validation-for="EmpireId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryYear" class="control-label"></label>
                <input asp-for="EntryYear" class="form-control" />
                <span asp-validation-for="EntryYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
