@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<ul>
    <li><a asp-controller="Alliances">Alliances</a></li>
    <li><a asp-controller="AlliancesEntries">Alliances entries</a></li>
    <li><a asp-controller="Commanders">Commanders</a></li>
    <li><a asp-controller="Empires">Empires</a></li>
    <li><a asp-controller="Fleets">Fleets</a></li>
    <li><a asp-controller="GovernmentTypes">Government types</a></li>
    <li><a asp-controller="Planets">Planets</a></li>
    <li><a asp-controller="Ranks">Ranks</a></li>
    <li><a asp-controller="Shipyards">Shipyards</a></li>
    <li><a asp-controller="Spaceships">Spaceships</a></li>
    <li><a asp-controller="Stars">Stars</a></li>
    <li><a asp-controller="StarTypes">Star types</a></li>
    <li><a asp-controller="Status">Statuses</a></li>
</ul>
