@page "/Users"
@attribute [Authorize]
@inject HttpClient HttpClient

@if (_usersLoaded)
{
    @if (Users != null)
    {
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var user in Users)
                {
                    var currentUser = user;
                    <tr>
                        <th>@user.Username</th>
                        
                        <th>@user.Role</th>

                        <th>
                            <button>Edit roles</button>
                            <button>Change password</button>
                            <button @onclick="@(() => DeleteUser(currentUser))">Delete</button>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <span>No users were created.</span>
    }
}
else
{
    <span>Loading...</span>
}

@code {

    private List<UserInfo> Users { get; set; }
    private bool _usersLoaded;

    protected override async Task OnInitializedAsync()
    {
        var result = await HttpClient.GetJsonAsync<IEnumerable<UserInfo>>("api/accounts");
        Users = result.ToList();
        _usersLoaded = true;
    }

    private async Task DeleteUser(UserInfo user)
    {
        try
        {
            Users.Remove(user);
            await HttpClient.DeleteAsync($"api/accounts/{user.Id}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}
