@inject NavigationManager NavManager
@inject NavStack Stack

<button class="btn" @onclick="@Add">
    <i class="oi oi-plus" style="color:limegreen;"></i>
</button>

@code
{
    [Parameter]
    public string Address { get; set; }
    
    public void Add()
    {
        SaveCurrentAddress();
        GoToCreationPage();
    }

    private void GoToCreationPage()
    {
        NavManager.NavigateTo(Address);
    }

    private void SaveCurrentAddress()
    {
        var uri = NavManager.Uri;
        var address = NavManager.ToBaseRelativePath(uri);
        Console.WriteLine(address);
        Stack.Add(address);
    }
}
